@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;1,6..12,300;1,6..12,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
html, body {
  height: 100%;
  overflow: hidden;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #101010;
}
a {
  color: #E7E7E7;
  text-decoration: none;
}
.white-a {
  color: #101010;
  @media screen and (max-width: 1024px) {
    font-size: 15.64px;
    padding-top: 8.3%;
  }
}
.screen {
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
}
.screen-section {
  height: 100vh; /* Высота экрана */
  width: 100%;
}
.white {
  background-color: #E7E7E7;
  &__content {
    padding-top: 3%;
    display: flex;
    flex-direction: column;
  }
}
#animated-text {
  color: #E7E7E7;
  transition: opacity 0.3s ease;
}
#plaska-main {
  font-size: 19.64px;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  color: #E7E7E7;
  z-index: 99;
  margin-bottom: 50px;
  padding-top: 20px;
  @media screen and (max-width: 1024px) {
    font-size: 15.64px;
  }
  @media screen and (max-width: 896px) {
    margin-bottom: 30px;
  }
}
.plaska {
  font-size: 19.64px;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  color: #E7E7E7;
  padding-left: 45px;
  z-index: 99;
  padding-top: 20px;
  &__bottom {
    display: flex;
    justify-content: space-between;
    color: #E7E7E7;
    font-size: 19.64px;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    padding-top: 10%;
    @media screen and (max-width: 1024px) {
      font-size: 15.64px;
      padding-top: 18.6%;
    }
    &-left {
      font-size: 19.64px;
      font-family: 'Play', sans-serif;
      font-weight: 700;
      color: #E7E7E7;
      padding-left: 45px;
      z-index: 99;
    }
  }
  &__white{
    display: flex;
    justify-content: space-between;
    color: #101010;
    font-size: 19.64px;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    padding-top: 4%;
    @media screen and (max-width: 1024px) {
      font-size: 15.64px;
      padding-top: 7.3%;
    }
    &-left {
      font-size: 19.64px;
      font-family: 'Play', sans-serif;
      font-weight: 700;
      color: #101010;
      z-index: 99;
    }
  }
  &__caution {
    display: flex;
    justify-content: space-between;
    color: #101010;
    font-size: 19.64px;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    @media screen and (max-width: 1024px) {
      font-size: 15.64px;
      padding-top: 5.7%;
    }
    &-left {
      font-size: 19.64px;
      font-family: 'Play', sans-serif;
      font-weight: 700;
      color: #101010;
      z-index: 99;
    }
  }
  @media screen and (max-width: 1024px) {
    font-size: 15.64px;
  }
  &-white {
    font-size: 19.64px;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    color: #101010;
    z-index: 99;
    margin-bottom: 30px;
    padding-top: 20px;
    @media screen and (max-width: 1024px) {
      font-size: 15.64px;
    }
    @media screen and (max-width: 896px) {
      margin-bottom: 15px;
    }
  }
}
.container {
  &-main {
    margin: 0 auto;
    max-width: 1400px;
    @media screen and (max-width: 1024px) {
      padding: 0 45px;
    }
    &-white {
      background-color: #E7E7E7;
    }
  }
}
.main {
  display: flex;
  &-description {
    font-size: 46px;
    color: #E7E7E7;
    width: 80%;
    line-height: 55px;
    @media screen and (max-width: 1024px) {
      font-size: 36px;
      line-height: 40px;
      width: 82%;
    }
    @media screen and (max-width: 896px) {
      font-size: 29px;
      line-height: 35px;
      width: 78%;
    }
    &-white {
      font-size: 46px;
      color: #101010;
      @media screen and (max-width: 1024px) {
        font-size: 36px;
        line-height: 40px;
        width: 82%;
      }
      @media screen and (max-width: 896px) {
        font-size: 29px;
        line-height: 35px;
        width: 80%;
      }
    }
  }
  &-text {
    font-family: "NunitoSans_7pt_Condensed-Regular", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    color: #E7E7E7;
    margin-top: 40px;
    //width: 60%;
    padding-bottom: 5%;
    line-height: 1.4;
    @media screen and (max-width: 1024px) {
      font-size: 18px;
      margin-top: 28px;
      line-height: 1.3;
    }
    @media screen and (max-width: 896px) {
      font-size: 16px;
      margin-top: 20px;
      line-height: 1.3;
      width: 70%;
    }
    &-white {
      font-family: "NunitoSans_7pt_Condensed-Regular", sans-serif;
      font-weight: 300;
      font-style: italic;
      font-size: 20px;
      margin-top: 20px;
      width: 60%;
      padding-bottom: 5%;
      color: #101010;
      line-height: 1.4;
      @media screen and (max-width: 1024px) {
        font-size: 18px;
        margin-top: 28px;
        line-height: 1.3;
        width: 65%;
      }
      @media screen and (max-width: 896px) {
        font-size: 16px;
        margin-top: 20px;
        line-height: 1.3;
        width: 80%;
      }
    }
  }
}
.slider {
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 2%;
  @media screen and (max-width: 1024px) {
    padding: 2.5% 0;
  }
  @media screen and (max-width: 896px) {
    padding: 0;
  }
  &__item {
    box-sizing: content-box;
  }
  &__img {
    display: block;
    width: 360px;
    height: 380px;
    margin: 20px 10px;
    border-radius: 10px;
    transition: all 0.5s;
    @media screen and (max-width: 1024px) {
      width: 238px;
      height: 260px;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.title {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  color: #E7E7E7;
  font-size: 46px;
  margin-bottom: 5%;
  @media screen and (max-width: 1024px) {
    font-size: 40px;
  }
  @media screen and (max-width: 896px) {
    font-size: 32px;
  }
  &-white {
    color: #101010;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 46px;
    margin-bottom: 25px;
    @media screen and (max-width: 1024px) {
      font-size: 40px;
    }
    @media screen and (max-width: 896px) {
      font-size: 32px;
    }
  }
}
.blocks {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 896px) {
    flex-direction: row;
  }
  &__item {
    width: 48%;
    background-color: #101010;
    border-radius: 10px;
    padding: 20px 35px;
    @media screen and (max-width: 1024px) {
      height: 210px;
    }
    @media screen and (max-width: 896px) {
      height: 180px;
      width: 47%;
    }
    &-title {
      font-size: 36px;
      color: #E7E7E7;
      font-family: 'Play', sans-serif;
      margin-bottom: 35px;
      @media screen and (max-width: 1024px) {
        font-size: 27px;
        margin-bottom: 14px;
      }
      @media screen and (max-width: 896px) {
        font-size: 24px;
        margin-bottom: 10px;
      }

    }
    &-description {
      font-size: 18px;
      color: #E7E7E7;
      margin-bottom: 15px;
      @media screen and (max-width: 1024px) {
        font-size: 13px;
      }
      @media screen and (max-width: 896px) {
        font-size: 12px;
      }
    }
    &-right {
      margin-left: auto;
    }
  }
}
.functions {
  display: flex;
  padding-bottom: 14%;
  @media screen and (max-width: 1024px) {
    padding-bottom: 8.2%;
  }
  &-pb {
    padding-bottom: 12%;
    @media screen and (max-width: 1024px) {
      padding-bottom: 7.7%;
    }
  }
  &__block {
    display: flex;
    flex-direction: column;
    width: 23%;
    margin-right: 20px;
    @media screen and (max-width: 1024px) {
      width: 21%;
      margin-right: 43px;
    }
    &:last-of-type {
      margin-right: 0;
    }
    &-title {
      font-size: 30px;
      color: #E7E7E7;
      font-family: 'Play', sans-serif;
      font-weight: 700;
      margin-bottom: 15px;
      @media screen and (max-width: 1024px) {
        font-size: 25px;
      }
    }
    &-description {
      font-size: 15px;
      color: #E7E7E7;
      @media screen and (max-width: 1024px) {
        font-size: 13px;
      }
    }
  }
}
.slider .slick-center .slider__img {
  transition: all 1s;
  opacity: 1;
  transform: scale(1.1);
}

.fade-in-div {
  opacity: 0;
  transform: translateY(20px); /* Небольшое смещение для эффекта появления */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Плавная анимация */
}

.fade-in-div.visible {
  opacity: 1;
  transform: translateY(0); /* Возвращаем в исходное положение */
}


// FAQ

.parent-container {
  padding:0 20px 8% 20px;
  max-width:800px;
  width:100%;
  @media screen and (max-width: 1024px) {
    padding: 0 20px 4.5% 20px;
  }
}
.faq {
  list-style:none;
  padding-left:40px;
  padding-right:20px;
  li {
    margin-bottom:15px;
    padding-bottom: 3%;
    &.active {
      .answer {
        max-height:275px !important;
        padding-bottom:25px;
        transition: max-height 0.5s ease, padding-bottom 0.5s ease;
      }
      .question {
        font-family: 'Play', sans-serif;
        font-weight: 700;
        color:#E7E7E7;
        transition:color 0.5s ease;
      }
    }
  }
  .answer {
    color: #E7E7E7;
    font-size:16px;
    line-height:24px;
    max-height:0;
    overflow:hidden;
    transition:max-height 0.5s ease, padding-bottom 0.5s ease;
    margin-top: 10px;
    @media screen and (max-width: 1024px) {
      font-size: 14px;
      line-height: 18px;
      margin-top: 10px;
      width: 88%;
    }
  }
  .plus-minus-toggle {
    cursor: pointer;
    height: 21px;
    position: absolute;
    width: 21px;
    left:-40px;
    top:50%;
    z-index:2;

    &:before,
    &:after {
      background: #E7E7E7;
      content: '';
      height: 5px;
      left: 0;
      position: absolute;
      top: 0;
      width: 21px;
      transition: transform 500ms ease;
    }

    &:after {
      transform-origin: center;
    }

    &.collapsed {
      &:after {
        transform: rotate(90deg);
      }

      &:before {
        transform: rotate(180deg);
      }
    }
  }
  .question {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    color: #E7E7E7;
    font-size:20px;
    text-transform:uppercase;
    position:relative;
    cursor:pointer;
    transition:color 0.5s ease;
  }
}

// CURSOR
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}
.custom-cursor {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 50px;
  margin-left: -25px;
  margin-top: -25px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
  transition-property: transform, scale, opacity;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  scale: 0.3;
  z-index: 10;
}
.custom-cursor--link {
  scale: 2;
}
.custom-cursor--init {
  opacity: 1;
}
.block {
  display: grid;
  place-content: center;
  place-items: center;
  height: 80vh;
  min-height: 300px;
}
.block--black {
  background-color: black;
  color: white;
}
.block--white {
  background-color: white;
  color: black;
}
.block__title,
.block__link {
  color: currentColor;
}
.block__title {
  margin-bottom: 1em;
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
}
.block__link {
  padding: 0.5em;
  text-decoration: none;
  transition: letter-spacing 200ms ease;
}
.block__link:hover {
  letter-spacing: 0.2em;
}
// бр
.no-wrap {
  white-space: nowrap;
}
